# Node modules
node_modules/

# Build output
dist/
build/
out/

# VSCode
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
.lcov
.nyc_output

# TypeScript cache
*.tsbuildinfo

# Dependency directories
jspm_packages/
bower_components/

# Caches
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache

# dotenv environment variable files
.env
.env.*
!.env.example

# Framework-specific
.next
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Misc
*.tgz
.node_repl_history
.tern-port
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Node modules
node_modules/

# Build output
dist/
build/
out/

# VSCode
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
.lcov
.nyc_output

# TypeScript cache
*.tsbuildinfo

# Dependency directories
jspm_packages/
bower_components/

# Caches
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache

# dotenv environment variable files
.env
.env.*
!.env.example

# Framework-specific
.next
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Misc
*.tgz
.node_repl_history
.tern-port
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
