<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h4 class="footer-title">Learn2Earn</h4>
                <p>Nền tảng tuyển dụng và tìm việc làm tại Việt Nam, kết nối sinh viên – người đi làm với doanh nghiệp
                    một
                    cách nhanh chóng và hiệu quả.</p>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Về chúng tôi</h4>
                <ul class="footer-links">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Dành cho ứng viên</h4>
                <ul class="footer-links">
                    <li><a href="#">Tìm việc làm</a></li>
                    <li><a href="#">Tạo CV</a></li>
                    <li><a href="#">Tài liệu hướng dẫn</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Dành cho nhà tuyển dụng</h4>
                <ul class="footer-links">
                    <li><a href="#">Đăng tuyển dụng</a></li>
                    <li><a href="#">Tìm ứng viên</a></li>
                    <li><a href="#">Gói dịch vụ</a></li>
                    <li><a href="#">Hỗ trợ</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Liên hệ</h4>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-phone me-2"></i>+84 123 456 789</a></li>
                    <li><a href="#"><i class="fas fa-envelope me-2"></i>info@learn2earn.vn</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt me-2"></i>Hà Nội, Việt Nam</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Learn2Earn. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</footer>